<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.infreeJ.backend.repository.DiaryImageMapper">

	<insert id="diaryImageInsert" parameterType="diaryImageDto">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT diary_images_seq.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO diary_images(id, diary_id, prompt, image_url)
		VALUES(#{id}, #{diaryId}, #{prompt}, #{imageUrl})
	</insert>
	
	<update id="diaryImageUpdate" parameterType="diaryImageDto">
		UPDATE diary_images
		SET prompt = #{prompt}, image_url = #{imageUrl}
		WHERE id = #{id}
	</update>
	
	<delete id="diaryImageDelete" parameterType="long">
		DELETE FROM diary_images
		WHERE id = #{id}
	</delete>

</mapper>