<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.infreeJ.backend.repository.DiaryImageMapper">

	<!-- 일기 이미지 저장 -->
	<insert id="createDiaryImage" parameterType="diaryImageDto">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT diary_images_seq.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO diary_images(id, diary_id, org_diary_img_name, uuid_diary_img_name)
		VALUES(#{id}, #{diaryId}, #{orgDiaryImgName}, #{uuidDiaryImgName})
	</insert>
	
	<!-- 일기 이미지 수정 -->
	<update id="updateDiaryImage" parameterType="diaryImageDto">
		UPDATE diary_images
		SET org_diary_img_name = #{orgDiaryImgName}, uuid_diary_img_name = #{uuidDiaryImgName}
		WHERE id = #{id}
	</update>
	
	<!-- 일기 이미지 삭제 -->
	<delete id="deleteDiaryImage" parameterType="long">
		DELETE FROM diary_images
		WHERE id = #{id}
	</delete>

</mapper>