<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.infreeJ.backend.repository.UserMapper">
	<select id="getDetailById" parameterType="long" resultType="userDto">
		SELECT *
		FROM users
		WHERE id = #{id}
	</select>
	
	<insert id="createUser" parameterType="userDto">
		INSERT INTO users(id, login_id, pwd, name, age, gender, persona, org_profile_img_name, uuid_profile_img_name)
		VALUES(users_seq.NEXTVAL, #{loginId}, #{pwd}, #{name}, #{age}, #{gender}, #{persona}, #{orgProfileImgName}, #{uuidProfileImgName})
	</insert>
	
	<delete id="deleteUserById" parameterType="long">
		DELETE FROM users
		WHERE id = #{id}
	</delete>
	
	<update id="updateUserById" parameterType="userDto">
		UPDATE users
		SET login_id = #{loginId}, name = #{name}, age = #{age}, gender = #{gender}, persona = #{persona}, org_profile_img_name = #{orgProfileImgName}, uuid_profile_img_name = #{uuidProfileImgName}
		WHERE id = #{id}
	</update>
	
	<update id="updatePwdById" parameterType="userDto">
		UPDATE users
		SET pwd = #{pwd}
		WHERE id = #{id}
	</update>
</mapper>


